@charset "utf-8";

main{
    max-width: 800px;
    margin: auto;
    background: black;
}

*{
    border: 1px solid gray;
    padding: 5px;
    box-sizing: border-box;
}

#jatekter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 650px;
    margin: auto;
}

h1, footer{
    color:aquamarine;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

header div{
    width: 73px;
    margin: auto;
}

img{
    width: 200px;
    height: 300px;
    margin: 5px;
}